.topnav {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--topnav-height);
}

.topnav-mobile {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.topnav__search {
  position: relative;
  height: 50px;
  background-color: var(--main-bg);
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.topnav__search > input {
  height: 100%;
  width: 100%;
  padding: 10px 60px 10px 20px;
  font-size: 1rem;
  border-radius: var(--border-radius);
  color: var(--txt-color);
  background-color: var(--main-bg);
}

.topnav__search > i {
  font-size: 1.5rem;
  position: absolute;
  right: 20px;
}

.topnav__right {
  display: flex;
  align-items: center;
}

.topnav__right-item ~ .topnav__right-item {
  margin-left: 30px;
}
.logout_item {
  border: 0;
  width: 100%;
  padding: 10px;
  margin: 0;
  outline: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.logout_item:hover {
  color: var(--main-color);
  background-color: var(--second-bg);
}

.logout_item > i {
  font-size: 1.5rem;
  margin-right: 20px;
}

.notification-item {
  display: flex;
  align-items: center;
  padding: 20px;
}

.notification-item:hover {
  background-color: var(--second-bg);
}

.notification-item > i {
  margin-right: 20px;
  font-size: 1.5rem;
}

.topnav__right-user {
  display: flex;
  align-items: center;
}

.topnav__right-user__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.topnav__right-user__image > img {
  width: 100%;
}

.topnav__right-user__name {
  font-size: 1rem;
  font-weight: 600;
}
.navLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navButton {
  padding: 30px;
}
.searching {
  padding: 40px;
}
.nav-mobile {
  position: fixed;
  left: -300px;
  top: 0;
  width: 300px;
  height: 100vh;
  padding: 20px;
  z-index: 99;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  transition: left 0.5s var(--transition-cubic);
}
.nav-mobile.active {
  left: 0;
}
.nav-mobile__close {
  position: absolute;
  top: 17px;
  right: 20px;
  background-color: transparent;
  font-size: 1.5rem;
}

.nav-mobile__select {
  margin-top: 40px;
}

@media only screen and (max-width: 1000px) {
  .searching,
  .menu {
    display: none;
  }
  .topnav {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: var(--topnav-height);
  }
  .topnav__right-item ~ .topnav__right-item {
    margin-top: 10px;
    margin-left: 30px;
  }
}
@media only screen and (max-width: 500px) {
  .topnav__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .topnav__right-item ~ .topnav__right-item {
    margin-top: 10px;
    margin-left: 30px;
  }
}
@media only screen and (min-width: 1000px) {
  .navButton {
    display: none;
  }
}
